
body {
  background-color: #f7f5f3 ;
}

a {
  
  font-family: 'Archivo', sans-serif, 600;
  font-size: 75px;
  color: #212738 ;
  text-decoration: none;
  margin: 10px;
  
  

}
.submitlink {
  font-size: large;

}

.detail {
  background-color: #f7f5f3;

}

ul {
  list-style-type: none;
}

li {
  padding: 10px ;
  text-align: left;
}

.formblock {
  background-image: url("./images/images-1.jpg");
  margin: 40px;
  padding: 30px;
}
input {
  display: flex;
  align-items: center;
}
.nav {
  background-color: #FFFFFF;
  text-align: left;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
