body {
  background-color: #f7f5f3;
  
}

a {
  font-family: "Archivo", sans-serif, 600;
  font-size: 75px;
  color: #212738;
  text-decoration: none;
  margin: 10px;
}
.submitlink {
  font-size: 55px;
  color: #212738;
  margin-top: 200px;
  padding: 10px;

  
  
  
}

.revboard {
  background-image: url("./images/images-1.jpg");
  padding: 20px;
  padding-bottom: 100px;
  padding-top: 50px;
  margin-left: 50px;
  margin-right: 150px;
}

.imglink {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: masonry; 
  masonry-auto-flow: next;
  align-tracks:start;
  grid-column: box-start;
  background-image: url("./images/images-1.jpg");
}

.image-grid {
   /* --gap: 16px; */
  /* --num-cols: 4; */
  /* --row-height: 300px;  */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* padding: var(--gap); */
  /* display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap); */
}


.image-grid > img {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
}

@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}
.revplate {
  background-color: whitesmoke;
  margin: 65px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn {
  margin: 10px;
}
.submitmes {
  color: #f7f5f3;
}
.revsec {
  background-color: whitesmoke;
  padding: 0px;
  border: solid #212738  ;
  border-width: thin;
}
.synp{

  
  position: relative;
  margin: 10px;
  letter-spacing: 1px;
  color: #212738;
  font-weight: 300;
  writing-mode: horizontal-tb;
}
.wholethang {
  background-color: whitesmoke;
  margin-left: 100px;
  margin-right: 100px;
}

.detail {
  background-image: url("./images/images-1.jpg");
  background-size: 200%;
  padding: 75px;
}
.moviedetail {
  background-color: whitesmoke;
  margin: 0 80px 40px 80px;
  padding: -60px;
}
.detimg {
  max-height: 500px;
  max-width: 500px;
  margin-left: 400px;
  position: relative;
  
}
.webbio {
  font-family: "Archivo", sans-serif;
}
ul {
  list-style-type: none;
}

li {
  padding: 10px;
  text-align: left;
}

.formblock {
  background-image: url("./images/images-1.jpg");
  margin: 40px;
  padding: 30px;
}

.biolink {
  margin: 50px;
}

.biolinks {
  text-align: center;
}

#detimg {
  display: grid;
  grid-template-rows: 1, 3fr;
}

.about {
  margin: 50px;
  font-weight:normal;
  background-color: whitesmoke;
  padding: 25px;
}

.aboutface {
  background-image: url("./images/images-1.jpg");
  padding: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
