.about {
    margin: 100px;
    font-weight: 300px;
    background-color: whitesmoke;
    padding: 25px;
    color: #212738;
    writing-mode: horizontal-tb;
  }
  
  .aboutface {
    
    padding: 40px;
  }
  
  .abouttitle {
    color: #212738;
    position: absolute;
    margin-left: 100px;
  }
  
  .aboutimg {
    margin-left: 100px;
    border: 5px solid whitesmoke;
    border-radius: 50%;
    width: 20%;
    
    
    
  
  
  }