.detail {
    
  }

  .detail-synp {
    background-color: white;
 
    position: relative;
    display: grid;
    grid-template-areas: "img txt";
  }

  .detail-synp-title{
    position: relative;
    margin: 5vw;
    letter-spacing: 1px;
    color: #212738;
    font-weight: 300;
    writing-mode: horizontal-tb;
    grid-area: txt;
  }

  .detail-synp-p {
grid-area: txt;
margin: 10vw 5vw 5vw 5vw; 
  }

  .detail-btn {
      grid-area: txt;
      margin: 50vh 0vh 30vh 12vh;
  }

  .detail-review-btn {
      grid-area: txt;
  }
  .detail-img {
    max-height: 100vw;
    max-width: 100vh;
    margin-left: 30px;
    padding: 30px;
    display: grid;
    grid: img img;
    text-align: center;
  }

  .review-table {
     padding: 5vh;
  }
  .review-title {
      text-align: center;
      padding: 5vh;
     

  }

  .review-sections{
      border: 1px solid black 5px;
      padding: 10vh;
  }

  .review-p {
    padding: 5vh;
  }

  .review-author{
    padding: 1vh;
  }

  .review-sec-p{
      padding: 5vh;
  }

 